body {
	font-family: Arial, sans-serif;
}



/*Загрузчик*/



.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 1s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}



/*Загрузчик*/



nav {
width: 100%;
height: 60px;
background: #344051;
position: fixed;
}

.logo {
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 170px;
	float: left;
	animation: comming 2s ease;
	z-index: 1px;
}

.menu {
	float: left;
	padding-left: 432px;
}

.menu ul li {
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 35px;
	font-style: 16px;
	text-transform: uppercase;
	animation: topshift 0.4s ease forwards;
	opacity: 0;
}

.menu ul li:nth-child(2) {
	animation-delay: 0.4s;
}
.menu ul li:nth-child(3) {
	animation-delay: 0.8s;
}
.menu ul li:nth-child(4) {
	animation-delay: 1.2s;
}
.menu ul li:nth-child(5) {
	animation-delay: 1.6s;
}
.menu ul li:nth-child(6) {
	animation-delay: 2s;
}

.menu li a {
	color: white;
	transition: all 0.1s;
	display: inline-block;
	transform: scale(1.0);
}

.menu li a:visited {
	color: white;
}

.menu li a:hover{
	color: #e88604;
}

.menu li a:active{
	transform: scale(1.1);
}

.container1 {
	width: 100%;
	height:100%;
	background:url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/bg.jpg)center/cover no-repeat;
}

.title_container {
	float: left;
	margin: 270px 0 0px 120px;
	color: #2c384a;
	text-align: center;
	opacity: 0;
	animation: titlemove 1s ease forwards;
	animation-delay: 2.4s;
}

/*.title_container input {
	transition: all 0.3s;
	transform: scale(1.0);
}*/



.title_container input {
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
	transition: all 0.3s;
	transform: scale(1.0);
}

.title_container input:hover {
	background: #344051;
	color: white;
}

.title_container input:active {
	transform: scale(1.1);
}


.title_container h1 {
	font-size: 60px;
}

.title_container h4 {
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

@keyframes comming {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes topshift {
	from {
		opacity: 0;
		margin-top: -80px;
	}
	to{
		opacity: 1;
		margin-top: 0;
	}
}

@keyframes titlemove {
	from {
		opacity: 0;
		margin-left: -500px;
	}
	to{
		opacity: 1;
		margin-top: 120;
	}
}

.container2 {
	width: 100%;
	height: 100%;
	box-shadow: 0px -10px 15px #d7d7d7;
	background: url(../img/icon.png) 45.4% 77.7% no-repeat, url(../img/linea.jpg) 50% 20% no-repeat,url(../img/foto.png) 50% 37% no-repeat , url(../img/fon.jpg)center/cover no-repeat; ;
}

.resume {
	float: left;
	margin: 100px 0px 0px 300px;	
}

.resume h2{
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 320px;
	text-align: center;
}

.resume p{
	width: 820px;
	margin-bottom: 40px;
	font-size: 16px;
}

.resume input {
	color: #6f707e;
	background: none;
	border: 2px solid #6f707e;
	border-radius: 5px;
	/*text-align: center;*/
	width: 155px;
	height: 32px;
	margin-left: 330px;
	padding-left: 23px;
	font-size: 15px;
	transition: all 0.3s;
	transform: scale(1.0);
}

.resume input:hover{
	background: #344051;
	color: white;
	padding-right: 99px;
}

.resume input:active {
	transform: scale(1.1);
}

.parallax_1 {
	background: url(../img/fon2.jpg) center/cover no-repeat;
	background-attachment: fixed;
	height: 500px;
}

.container3 {
	width: 100%;
	height: 520px;
	background: url(../img/computer.png) 20.5% 50% no-repeat, url(../img/rocheta.png) 58% 50% no-repeat, url(../img/signum.png) 39.5% 50% no-repeat, url(../img/gram.png) 77.5% 50% no-repeat, url(../img/linea.jpg) 50% 30% no-repeat; /*url(../img/fon2.jpg) center/cover no-repeat;*/
}

.skills{
	float: left;
	margin: 100px 0px 0px 0px;
}
.skills h2 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 180px;
	padding-left: 180px;
}

.services {
	text-align: center;
	margin-left: 200px;
}

.service {
	float: left;
	margin-right: 50px;
}

.services h4 {
	text-align: center;
	font-size: 22px;
	color: #cf7600;
	padding-bottom: 20px;
	transform: scale(1);
	/*display: inline-block;*/
}

.services h4:hover {
	transform: scale(1.3);
}

.services p {
	text-align: center;
	width: 210px;
	line-height: 1.3;
}

.container4 {
	width: 100%;
	height: 1200px;
	background: url(../img/linea.jpg) 50% 15% no-repeat, url(../img/Fon3.png) 50% 45% no-repeat ,url(../img/fon.jpg)center/cover no-repeat;;
}
.cases {
	float: left;
}

.cases h2 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin: 115px 0 80px 0;
	padding-left: 150px;
}

.cases>p {
	text-align: center;
	margin-bottom: 680px;
	padding-left: 150px;
}

.web {
	padding-left: 130px;
}

.client {
	float: left;
}

.client h3 {
	font-size: 25px;
	margin-bottom: 15px;
}

.client p {
	margin-bottom: 15px;
}

.client input {
	color: #fff;
	background: #63b5ae;
	width: 200px;
	height: 45px;
	border-radius: 5px;
	font-size: 18px;
	transition: all 0.3s;
	transform: scale(1.0);
}

.client input:hover{
	background: #ee7a37;
	color: white;
}

.client input:active {
	transform: scale(1.1);
}

.project {	
	float: left;
	margin-left: 85px;
}

.project h3 {
	font-size: 25px;
	margin-bottom: 15px;
}

.project p {
	width: 850px;
	line-height: 1.3;
}

.container5 {
	width: 100%;
	height: 100%;
	background: url(../img/fon.jpg)center/cover no-repeat;
}

/*.calculation {
	float: left;
}*/

.calculation h2 {
	padding-top: 100px;
	padding-bottom: 60px;
	font-size: 30px;
	text-align: center;
}

.type {
	padding-left: 270px;
}

.type h3 {
	font-size: 25px;
	padding-bottom: 20px;
}

.type form {
	padding-bottom: 50px;
}

.type select {
	width: 890px;
	height: 50px;
	background: #eeeeee;
	padding-left: 15px;
	color: #7d7d7d;
}

.calculation h4 {
	font-size: 22px;
	padding: 0 0 30px 270px;
}

.parallax_2 {
	background: url(../img/fon6.jpg)center/cover no-repeat;
	background-attachment: fixed;
	height: 500px;
}

.container6 {
	width: 100%;
	height: 500px;
	background: url(../img/staples.png) 41% 57% no-repeat, url(../img/check.png) 62.9% 57% no-repeat, url(../img/smile.png) 19.5% 57% no-repeat, url(../img/cup.png) 85% 57% no-repeat, url(../img/linea.jpg) 50% 33% no-repeat; /*url(../img/fon6.jpg)center/cover no-repeat;*/
}

.statistics>h2 {
	font-size: 30px;
	padding-top: 100px;
	padding-bottom: 200px;
	text-align: center;
}

.advantages {
	text-align: center;
	margin-left: 200px;
}

.advantages1 {
	float: left;
	margin-right: 150px;
}

.advantages1 h2 {
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 30px;
	transform: scale(1.0);
}



.advantages1 h2:hover {
	transform: scale(1.3);
}

.advantages1 p {
	font-weight: bold;
}

.container7 {
	width: 100%;
	height: 590px;
	background: url(../img/grey.png) 52% 85% no-repeat , url(../img/grey.png) 50% 85% no-repeat , url(../img/orange.png) 48% 85% no-repeat , url(../img/misha.png) 50% 40% no-repeat , url(../img/linea.jpg) 50% 25% no-repeat, url(../img/FON.jpg)center/cover no-repeat;
}

.reviews h2 {
	font-size: 30px;
	padding-top: 100px;
	padding-bottom: 230px;
	text-align: center;
}

.reviews p {
	text-align: center;
	padding-bottom: 50px;
}

.reviews p span {
	font-weight: bold;
}

.container8 {
	width: 100%;
	height: 810px;
	background: url(../img/geo.png) 32% 35% no-repeat, url(../img/mail.png) 50% 35% no-repeat, url(../img/thone.png) 69% 35% no-repeat, url(../img/linea.jpg) 50% 20% no-repeat, url(../img/fon8.jpg)center/cover no-repeat;
}

.contacts {
	/*float: left;*/
}

.contacts h2 {
	padding-top: 100px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin: 100px 0 70px 0;
}

.contacts p {
	color: #fff;
	padding-bottom: 90px;
	text-align: center;
}

.contacts ul {
	text-align: center;
	padding-bottom: 70px;
	padding-left: 420px;
}

.contacts ul li {
	float: left;
	color: #fff;
	margin-right: 125px;
	font-style: 16px;
	transform: scale(1.0);
}

.contacts ul li:hover {
	transform: scale(1.3);
}

.contacts h3 {
	font-size: 25px;
	color: #fff;
	text-align: center;
	padding-bottom: 45px;
}

.contacts form {
	/*padding-right: 200px;*/
	/*padding-bottom: 15px;*/
	/*text-align: center;*/
	/*margin: 0 auto*/ ;

}

.contacts .input {
	float: left;
	display: block;
	width: 350px;
	height: 35px;
	background: #d2d6dc;
	padding-left: 10px;
	margin-right: 30px;
	margin-bottom: 15px;
	border-radius: 0;
}

.contacts .input1{
	margin-left: 350px;
}

.contacts textarea {
	display: block;
	width: 730px;
	height: 100px;
	background: #d2d6dc;
	padding: 10px 0 0 10px;
	border-radius: 0;
	margin-bottom: 30px;
	margin-left: 350px;
	
} 

.contacts .button {
	display: block;
	background: none;
	width: 125px;
	height: 50px;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	font-size: 17px;
	padding-right: 6px;
	margin: 0 auto;
	transform: scale(1.0);
	transition: all 0.3s;
}

.contacts .button:hover {
	background: #63b5ae;
	color: white;
}

.contacts .button:active {
	transform: scale(1.1);
}

.container9 {
	width: 100%;
	height: 350px;
	background: url(../img/here.png) 50% 50% no-repeat, url(../img/map.jpg)center/cover no-repeat;
}

.container9 h3 {
	text-align: center;
	font-size: 25px;
	padding-top: 155px;
}

footer{
	width: 100%;
	height: 100px;
	background: #354051;
}

footer p{
	color: #fff;
	text-align: center;
	line-height: 100px;
}